/* Image Designing Propoerties */
.thumb {
     height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
}

/* overlay an opaque dark color so the text will still show up */
.jumbotron {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        color: whitesmoke;
        background-image: url("../images/DRP.png");
        background-size: cover;
        min-height: 350px;
        margin: 0px;
        position: relative;
}

.jumbotron > .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(8, 9, 58, 0.5);
    z-index: 1;
}

.jumbotron > .inner {
    position: relative;
    z-index: 2;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear:both;
    display:block
 }

.table-header {
    font-weight:bold; 
    text-align:center;
    text-decoration: underline;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
    
#custom-table {
    border:3px; 
    border-style:solid; 
    border-color:#3498DB; 
    padding: 1em;
    /* height: 200px; */
    /* width: 300px; */
}

#custom-table p {
    margin-top: 0px;
    margin-bottom: 2px;
}

table.table-bordered{
    border:2px solid #3498DB;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid #3498DB;
}
table.table-bordered > tbody > tr > td{
    border:2px solid #3498DB;
}

#image-selector {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#row-chart svg {
    height: 200px;
    width: 100%;
}

#predict-button {
    background-color: rgb(148, 216, 148);
    font-weight: bold;
    margin: 5px;
}

#clear-button {
    background-color: rgb(114, 142, 221);
    font-weight: bold;
    margin: 5px;
}
/* -----------------------Tableau Style --------------------- */
.stretch-card {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: stretch;
    justify-content: stretch;
}
  
.stretch-card > .card {
    width: 100%;
    min-width: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* .row1 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  } */

.page-body-wrapper {
    padding-left: 0;
    padding-right: 0;
    min-height: calc(100vh - 56px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.main-panel {
    background: #f0f3f6;
    width: 100%;
    transition: width 0.25s ease, margin 0.25s ease;
    min-height: calc(100vh - 56px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
  
@media (max-width: 991.98px) {
    .main-panel {
      padding-top: 80px;
    }
}

.content-wrapper {
    padding: 1.5rem 0;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    min-height: calc(100vh - 156px - 75px);
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  
/* Utilities */
.grid-margin {
    margin-bottom: 1.875rem;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 6px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
